apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: api:1.0
        imagePullPolicy: IfNotPresent
        env:
        - name: POSTGRES_HOST
          value: postgres
        - name: POSTGRES_USER
          value: appuser
        - name: POSTGRES_PASSWORD
          value: example
        - name: POSTGRES_DB
          value: appdb
        - name: REDIS_HOST
          value: redis
        - name: AUTH_URL
          value: http://auth:3000
        - name: OPEN_LIBRARY_LIMIT
          value: "60"
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: api
spec:
  selector:
    app: api
  ports:
    - port: 3000
      targetPort: 3000
